._1VNuYHM6BPBOJspC6zPf5r {
    background: rgb(var(--dark-32));
    border: 0.5px solid #232323;
    border-radius: 6px;
}

.Z6wLCsR5it0hjFblgrb6 {
    background: #272727;
}

._1CTr1yKRkOXnJ4gSS1-1A3 {
    visibility: hidden;
}

.qq2xItSXjpCsNrcxyPJtO {
    font-family: var(--text-font-family) !important;
    font-size: 16px;
    font-weight: normal;
    text-transform: none !important;
    letter-spacing: normal !important;
}

span._1CGnw50aAma6AYKF51Qzsm {
    display: none;
}

span._35eOQ6EeVHNV5HGBrJ1-Vu {
    font-family: var(--text-font-family) !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.Bku7JSkuQ7NyWi6M4w1sl {
    font-family: var(--text-font-family) !important;
}

span._1dHjjSl-57o1KQsQ1m1HSA._3WavcSX0NkHlBh5fICWKyB {
    color: #fff9 !important;
    margin-right: 0 !important;
}

.sv3ZHPWbrD7yjwx5Mi3u5 {
    color: #fff9 !important;
    font-weight: normal !important;
}

span._1dHjjSl-57o1KQsQ1m1HSA._2ckIrOaAwEey3RdOBG-FJS {
    color: #fff9 !important;
    margin-left: 0px !important;
}

.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5._3J3TT6n8aRkFb-N931OMLl.xp7A-08Y404Of3FBHqX32.Panel {
    box-shadow: none !important;
}

._1VNuYHM6BPBOJspC6zPf5r:hover {
    background: #393939 !important;
    border: 0.5px solid #393939 !important;
    border-radius: 6px !important;
}

button._3oavRVhIS9tC3vBsFT4Ggi.DialogButton._DialogLayout.Secondary.Focusable {
    background: #454545 !important;
    border-radius: 6px !important;
    border: 0.5px solid #4c4c4c !important;
    width: 100% !important;
}

button._3oavRVhIS9tC3vBsFT4Ggi.DialogButton._DialogLayout.Secondary.Focusable::before {
    box-shadow: none !important;
}

._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi svg {
    height: 100% !important;
}

button._3Tfp8-wTAttW3WVa_X9JVC.DialogButton._DialogLayout.Secondary.Focusable {
    width: 32px !important;
    height: 32px !important;
}

._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC svg {
    transform: scale(8) translateY(-0.95px) !important;
}

button._3oavRVhIS9tC3vBsFT4Ggi.DialogButton._DialogLayout.Secondary.Focusable {
    transition: none !important;
}

._3WauYi7bNDSGIogMLPVYES {
    filter: blur(4px);
}

._3KDkLoCR8OM8xfdQysKn9t {
    background: transparent;
}

._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR {
    background: #454545;
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1VNuYHM6BPBOJspC6zPf5r {
    margin: 10px 20px 10px 10px;
}

._1VNuYHM6BPBOJspC6zPf5r:hover,
._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
    background: rgb(var(--dark-30));
    border-radius: 6px;
}

.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T.d9VKGABvFZQGmdqtaicMo {
    background: #454545 !important;
}

._3mdnpmV9S9u27eB5JFwFNk ._3BdWqJYvZfTohY-twD2i6Q {
    font-family: var(--text-font-family);
    font-weight: 500;
    font-size: 18px;
}

._3mdnpmV9S9u27eB5JFwFNk .eXF8xL2LUtzeWMbK-FSRz {
    font-family: var(--text-font-family);
    text-transform: none !important;
}

._34H1wIZZZBEL43X2j8RFu6 {
    font-family: var(--text-font-family);
    text-transform: none !important;
    font-size: 12px;
    font-weight: normal;
}

.FriendsListChatSection.ChatRoomListContainerParent {
    background: rgb(var(--dark-19), 0.79) !important;
    backdrop-filter: blur(17px);
}

.friendsListSectionTitle.chatSectionTitle {
    background: none !important;
}

.chatRoomListContainer {
    background: none !important;
}

._1VNuYHM6BPBOJspC6zPf5r ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
    margin-right: 12px;
}

._3oavRVhIS9tC3vBsFT4Ggi svg {
    transform: scale(1.75) translateY(1.5px) !important;
}
