.aqvbkhC1ejt4s8QvWA-c5 {
    margin-top: -32px;
    padding-left: 6px;
}

.TSlxCkeUMGwzmg21_WU8- {
    position: relative;
}
.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 9px;
    left: -11px;
    bottom: -2px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 14px 0 0 rgb(var(--dark-1b));
    border-right: white;
    border-bottom: white;
    height: 26px;
}

.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies::after {
    content: "";
    position: absolute;
    width: 11px;
    background: transparent;
    height: 36px;
    right: -13px;
    bottom: -2px;
    box-shadow: -2px 24px 0 0 rgb(var(--dark-1b));
    border-bottom-left-radius: 10px;
    border-bottom: white;
    border-left: white;
}
/* Hide basic title bar */
.title-area-children {
    display: none !important;
}

.aqvbkhC1ejt4s8QvWA-c5:last-child {
    background: none !important;
    border: none !important;
}

.aqvbkhC1ejt4s8QvWA-c5:nth-child(2) {
    display: none !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Browser {
    background: #101010 !important;
}

.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies {
    background:  rgb(var(--dark-1b)) !important;
    border: 2px solid transparent !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

._26Gmfe09NRsnF7eprTZYdY {
    height: 32px !important;
    background: rgb(var(--dark-1b));
}

._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS {
    height: 26px !important;
}

._1W55urU2WazGofFzN0_jHB {
    height: 28px !important;
    overflow: unset !important;
}

input.DialogInput.DialogInputPlaceholder.DialogTextInputBase.Focusable {
    height: 28px !important;
    border-radius: 10px;
}

._1d2NZ4Jt0wrdapfvDFhpVS {
    background: rgb(var(--dark-30));
}

input.DialogInput.DialogInputPlaceholder.DialogTextInputBase.Focusable {
    background: none;
    border: none !important;
}

._26Gmfe09NRsnF7eprTZYdY ._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable:last-child {
    display: none !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Browser {
    border-radius: 6px;
    border: 1px solid rgb(var(--dark-2b));
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 0 !important;
}
._3pXasCUulX4jjqO79s4q_F._2MkHZqf7MrgW3f8qGHiI8Z {
    display: none !important;
}

.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies {
    -webkit-app-region: no-drag;
}

.aqvbkhC1ejt4s8QvWA-c5 {
    z-index: 10;
    width: calc(100% - 190px);
}
._26Gmfe09NRsnF7eprTZYdY {
    z-index: 15;
}

.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8- {
    background: transparent;
    border: 2px solid transparent;
}

._26Gmfe09NRsnF7eprTZYdY ._1oXr_GpvIgjHasLyU3tBn:hover {
    background: none !important;
}

._22LPPg9PMLlPRAP1u7N5mb {
    margin: 0 !important;
}

img._1O7mirpdHFHgqCX8g5wLX {
    transition: all 0.2s;
}

._2RI6oQrDKUNzBqhIk4zI {
    transition: all 0.2s;
}

.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-:not(._1W4bbifjEN3KdqKEhpmies):hover {
    background: rgb(var(--dark-21));
}
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-:not(._1W4bbifjEN3KdqKEhpmies) {
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.TSlxCkeUMGwzmg21_WU8- {
    margin-right: 6px !important;
}

.aqvbkhC1ejt4s8QvWA-c5 {
    overflow: overlay;
}

.TSlxCkeUMGwzmg21_WU8- {
    margin-right: 4px;
}

.DesktopUI .title-area .title-bar-actions.extra-actions .title-area-icon-inner svg {
    display: block !important;
}

.TSlxCkeUMGwzmg21_WU8- {
    -webkit-app-region: no-drag;
}

._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS ._1W55urU2WazGofFzN0_jHB .DialogInput_Wrapper input.DialogInput.DialogInputPlaceholder.DialogTextInputBase.Focusable {
    background: transparent !important;
}

.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R ._2O7tjQ9VWj5nhZ0y-pdpX2 {
    height: 38px;
}

/* Nav Buttons */
._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable svg {
    display: none;
}

._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable:nth-child(1)::before {content: "";font-family: FluentSystemIcons;}

._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable:nth-child(2)::before {
    content: "";
    font-family: FluentSystemIcons;
}

._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable:nth-child(3)::before {
    content: "";
    font-family: FluentSystemIcons;
}

._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable:nth-child(4) {
    display: none;
}

._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable::before {
    margin-right: 13px;
    font-size: 20px;
}

._2UTNf-Ec4o5_3LPJtc2u7M._1oXr_GpvIgjHasLyU3tBn.Focusable {
    display: flex;
    justify-content: center;
    align-items: center;
}

._26Gmfe09NRsnF7eprTZYdY ._1oXr_GpvIgjHasLyU3tBn._1f6yYACTilZQ2dmqGd5zXk {
    color: dimgray;
}

._26Gmfe09NRsnF7eprTZYdY ._2UTNf-Ec4o5_3LPJtc2u7M {
    color: white;
}

._26Gmfe09NRsnF7eprTZYdY {
    display: flex;
    align-items: center;
}

._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS:hover {
    background: rgb(var(--dark-30)) !important;
}

._22LPPg9PMLlPRAP1u7N5mb {
    background: rgb(var(--dark-14)) !important;
}

.title-bar-actions.window-controls {
    height: 100% !important;
    max-height: unset !important;
}

.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
    background: rgb(var(--dark-30)) !important;
}