._2rjVTGz8aLvqOdz5v2gq5C {
    position: absolute;
    top: 6px;
    font-size: 12px;
    text-transform: none !important;
    color: white !important;
    font-weight: 400 !important;
}
._2rjVTGz8aLvqOdz5v2gq5C::after { 
    content: " • Properties";
    color: #ffffff8c !important;
}
._18QCu-7MTzd51UpVbYysDy.Panel {
    margin-top: 40px;
}
._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer {
    max-width: 535px !important;
}
._2oAiZidGyUxL-hfupFDQ2m {
    height: unset !important;
}
._2oAiZidGyUxL-hfupFDQ2m {
    margin-bottom: unset !important;
}
button.DialogButton._DialogLayout.Secondary.Focusable {
    height: 14px !important;
    padding: 6px 14px 10px 14px !important;
}
.r3hOLjghfVd2FkvKjlsrO._1wvuEFDaiHcn5QErl3Lghh {
    border-top: 0 !important;
}
._2evqiY8KoRX_WVvTUfmCWt._3lj3-GDYOlcoIFB3fFo1ko {
    border-radius: 4px !important;
    background: rgb(var(--dark-2b)) !important;
    margin-bottom: 3px !important;
    border: 0.5px solid rgb(var(--dark-1d)) !important;
    font-weight: normal;
    color: #929292;
    margin-left: 0px !important;
}
._1Ym7esAMrM-Be9YZ3fC54v._2H4LypEOvoKY3pHtDIpt5l {
    margin-left: 0px !important;
    color: #929292 !important;
}
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody {
    color: #929292 !important;
}
._3zuICQ63IRympzZ6qgs-5O {
    color: white !important;
    text-transform: none !important;
    font-weight: normal !important;
}
._1SKB0Xc7OpWlOlr-wSi8ho {
    background: rgb(var(--dark-37)) !important;
    text-transform: none !important;
}
._3sXdOJ9DEh5zdS54_ptwgW {
    box-shadow: none !important;
    border-radius: 6px;
    border: 0.5px solid rgb(var(--dark-3a)) !important;
}
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW {
    background: rgb(var(--dark-2b)) !important;
}
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._1Ym7esAMrM-Be9YZ3fC54v {
    margin-top: 0px !important;
}
input.DialogInput.DialogInputPlaceholder.DialogTextInputBase.Focusable {
    border-right: 0.5px solid rgb(var(--dark-30)) !important;
    border-top: 0.5px solid rgb(var(--dark-30)) !important;
    border-left: 0.5px solid rgb(var(--dark-30)) !important;
    border-bottom: 1px solid #9A9A9A !important;
}
input.DialogInput.DialogInputPlaceholder.DialogTextInputBase.Focusable:focus {
    background: #1F1F1F !important;
    border-bottom: 1px solid var(--SystemAccentColorLight2) !important;
}

.kSXF93bSHe9G2fC96Bf8X.S-_LaQG5eEOM2HWZ-geJI.qFXi6I-Cs0mJjTjqGXWZA._3XNvAmJ9bv_xuKx5YUkP-5._3bMISJvxiSHPx1ol-0Aswn._5UO-_VhgFhDWlkDIOZcn_.wE4V6Ei2Sy2qWDo_XNcwn.Panel {
    margin-top: 25px !important;
    margin-bottom: 15px !important;
}
button.DialogButton._DialogLayout.Secondary.Focusable:not(.TEWmsM70ZLEOxLAjDMpcv):hover {
    background: #3e3e3e !important;
}