._1OOQPJx0nCNP9ME9toCmV7 {
    background: rgba(18, 18, 18, 0.722) !important;
}

body.zXrpABNQHpWKgSzqnGlL.DesktopUI {
    border-top-left-radius: 10px !important;
    background: transparent !important;
}

div#popup_target {
    border-top-left-radius: 40px !important;
    background: transparent !important;
}

._3CGHgMXRIoyrljmStDoKuf.Panel {
    border-top-left-radius: 10px !important;
}

._1OOQPJx0nCNP9ME9toCmV7._2Rof8JJgVaPehWzOAxOJBw {
    border-top-left-radius: 8px !important;
    border: 1px solid #2c2c2c !important;
    box-sizing: border-box !important;
}

html {
    background: transparent !important;
}

._3RkGkNRNheAkoRA3migph5 {
    background: transparent !important;
}

img._32niVn3s7EKoKY0-pASwDJ {
    border-radius: 6px !important;
    border: 1px solid #262626 !important;
}

._2yhOCNV9s2fKohW8wqWRTY {
    height: 10px !important;
    width: 10px !important;
    border-radius: 10px !important;
    position: absolute !important;
    align-self: unset !important;
    bottom: 11px !important;
    left: 48px !important;
}

._2cgMq-PHCYQE6HELmKwoff {
    font-family: "Segoe UI Variable Text" !important;
}

._2cDEkUd8CcHhB2pCRgBcSS {
    font-size: 12px !important;
}

span._19g_L-qkP3q7SDkgXAgoli._1pJtWelYxtxq4-f9eGMsHF {
    display: none !important;
}